################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs/dS-new-molecular-simulation/v16
